<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<a href="/employees">Employee</a>

<% if user_signed_in? %>
  <form method="post" action="<%= destroy_user_session_path %>">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Logout</button>
  </form>
<% end %>

adsa
<div data-controller="hello">
  asdasdsadsaHellos sdsds
</div>
dfdf

<div data-controller="hello">
  Hello asddadasd
</div>

<input type="text" data-controller="external-platform-id" data-external-platform-id-target="input" />
