<ul class="list-group">
    <li class="list-group-item">Interview scheduled for John Doe (Frontend Developer)</li>
    <li class="list-group-item">New hire: Jane Smith (HR Assistant)</li>
    <li class="list-group-item">Role updated for Mark Reyes (from Intern to Junior Dev)</li>
    <li class="list-group-item">Role updated for June Reyes (from Intern to Junior Dev)</li>
</ul>