<table id="recruitment_table" class="table">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Number of Positions</th>
            <th>Recruitment Managers</th>
            <th>Recruitment Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<nav aria-label="Page navigation example">
    <ul id="pagination-nav" class="pagination"></div>
</nav>

